# Contraseña requerida para descargar el CV desde el sitio web.
# En Render, puedes definir o cambiar esta variable en:
# Dashboard de Render -> Tu Servicio -> Environment -> Add Environment Variable
CV_PASSWORD=RubiKurumi
PORT=80
